
#header {
font-size:.8em;
}

#content .sentence {
display:block;
padding: 0.8em 0;
border-top: dotted #ccc 1px;
}
#content .sentence:last-child {
border-bottom: dotted #ccc 1px;
}

#content .word {
display: inline-block;
}
#content .word::before {
content: attr(pinyin);
display: block;
font-size: 0.8em;
text-align:center;
}
#content .word::after {
content: attr(english);
display: block;
font-size: 0.7em;
text-align:center;
}
#content .character {
display: inline-block;
font-size: 2em;
margin:0 0.1em;
}


